* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Google Sans Flex", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:"slnt" 0,"wdth" 100,"GRAD" 0,"ROND" 0;
}
body {
    background-color: #ffe4e1;
}
#navbar {
    height: 10vh;
    width: 100vw;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    position: relative;
    background-color: #f5f5f5;
    box-shadow: 0px 0px 10px #d1d1d1;
}
.left {
    display: flex;
}
.left img {
    width: 4%;
    position: absolute;
    bottom: 11px;
    left: 35px;
}
.left img:hover {

}
.men a{
    padding: 10px;
    text-decoration: none;
    color: black;
    transition: 0.3s;
}
.men a:link {
    color: black;
}
.men a:hover {
    color: #ee215a;
    font-weight: 800;
    transform: scale(1.02);
}
.women a {
    padding: 10px;
    text-decoration: none;
    color: black;
    transition: 0.3s;
}
.women a:link {
    color: black;
}
.women a:hover {
    color: #e87db0;
    font-weight: 800;
    transform: scale(1.02);
}
.kids a {
    padding: 10px;
    text-decoration: none;
    color: black;
    transition: 0.3s;
}
.kids a:link {
    color: black;
}
.kids a:hover {
    color: #d35f03;
    font-weight: 800;
    transform: scale(1.02);
}
.home a {
    padding: 10px;
    text-decoration: none;
    color: black;
    transition: 0.3s;
}
.home a:link {
    color: black;
}
.home a:hover {
    color: #e9b957;
    font-weight: 800;
    transform: scale(1.02);
}
.beauty a {
    padding: 10px;
    text-decoration: none;
    color: black;
    transition: 0.3s;
}
.beauty a:link {
    color: black;
}
.beauty a:hover {
    color: #1a98a6;
    font-weight: 800;
    transform: scale(1.02);
}
.genz a {
    padding: 10px;
    text-decoration: none;
    color: black;
    transition: 0.3s;
}
.genz a:link {
    color: black;
}
.genz a:hover {
    color: #1a98a6;
    font-weight: 800;
    transform: scale(1.02);
}
.studio a {
    padding: 10px;
    text-decoration: none;
    color: black;
    transition: 0.3s;
}
.studio a:link {
    color: black;
}
.studio a:hover {
    color: #ee215a;
    font-weight: 800;
    transform: scale(1.02);
}
.category ul{
    text-transform: uppercase;
    list-style: none;
    float: left;
    display: flex;
    padding: 10px;
    position: absolute;
    top: 10px;
    left: 125px;
}
.right {
    display: flex;
}
.shop {
    display: flex;
    margin-right: 50px;
}
.search input[type="text"] {
    height: 30px;
    width: 395px;
    border: none;
    outline: none;
    color: #9b9b9b;
    background-color: #d1d1d1;
    position: absolute;
    bottom: -14px;
    right: 235px;
    font-size: 13px;
    padding-left: 35px;
    transition: 0.3s;
}
input[type="text"]:hover {
    transform: scale(1.009);
}
.fa-magnifying-glass {
    color: rgb(138, 138, 138);
    position: absolute;
    top: 21px;
    right: 603px;
    z-index: 10;
}
.fa-heart {
    font-size: 20px;
    color: black;
    position: absolute;
    top: 18px;
    right: 153px;
    transition: 0.3s;
}
.fa-bag-shopping {
    font-size: 20px;
    color: black;
    position: absolute;
    top: 18px;
    right: 69px;
    transition: 0.3s;
}
.fa-heart:hover, .fa-heart:active, .fa-bag-shopping:hover, .fa-bag-shopping:active {
    color: #ee215a;
    font-weight: 800;
    transform: scale(1.01);
}
.fa-heart:link, .fa-heart:visited, .fa-bag-shopping:link, .fa-bag-shopping:visited {
    color: black;
}
.block {
    height: 70vh;
    width: 30vw;
    border-radius: 10px;
    background-color: #f5f5f5;
    text-align: center;
    align-items: center;
    padding: 30px;
    position: fixed;
    top: 120px;
    right: 95px;
    box-shadow: 0px 0px 10px #d1d1d1;
    transition: 0.5s;
}
.block:hover {
    transform: scale(1.03);
}
.text {
    color: #ee215a;
    position: absolute;
    top: 291px;
    left: 360px;
    font-size: 25px;
    margin-right: 518px;
    padding-right: 0;
    text-align: left;
    z-index: -10;
    position: relative;
}
.be {
    position: absolute;
    bottom: 75px;
    right: 650px;
}
.extra {
    position: absolute;
    bottom: 26px;
    right: 355px;
}
.alpha-e {
    font-size: 100px;
    position: absolute;
    top: -100px;
    left: 49px;
}
.very {
    position: absolute;
    bottom: -11px;
    left: 106px;
}
.day {
    position: absolute;
    bottom: -60px;
    right: 619px;
}
.box img {
    position: absolute;
    top: 177px;
    left: 55px;
    padding: 50px;
    width: 28%;
    transition: 0.3s;
}
.box img:hover {
    transform: scale(1.03);
    filter: drop-shadow(0px 0px 10px #d1d1d1);
}
.head {
    padding-top: 10px;
}
.head span {
    font-size: 20px;
    font-weight: 600;
}
input[type="text"] {
  width: 100%;
  padding: 12px 20px;
  border: none;
  outline: none;
  margin: 28px 0;
  box-sizing: border-box;
  border: 1px solid #d1d1d1;
  border-radius: 4px;
  font-size: 16px;
  transition: 0.3s;
}
.rules {
    margin-top: 5px;
}
.rules span {
    color: #ee215a;
    font-weight: 700;   
}
.btn {
    width: 300px;
    height: 40px;
    color: white;
    background-color: #d1d1d1;
    border: none;
    border-radius: 25px;
    padding: 10px;
    margin: 50px 15px 25px 15px;
    cursor: not-allowed;
    transition: 0.3s;
}
.btn:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 8git px #e87db0;

}
#check:checked ~ .btn {
    background-color: #ee215a;
    cursor: pointer;
}
.help span {
    color: #ee215a;
    font-weight: 700;
    cursor: pointer;
}